.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 3% 3%;
  height: 100vh;
}

.not-found-img {
  width: 550px;
  height: 470px;
}
